<a href="http://www.zend.com/en/yellow-pages#show-ClientCandidateID=ZEND018713" title="Zend Certified Engineer - PHP5.3"><img id="zce53" src="/theme/img/zce53.gif" alt="Zend Certified Engineer - PHP5.3" /></a>
<h3>Projets</h3>
<ul class="nav">
  <li><i class="icon-user"></i><a class="blog" href="http://blog.henriet.eu">Blog perso</a></li>
  <li><i class="icon-group"></i><a class="cofur" href="http://cofur.henriet.eu">CoFUR</a></li>
  <li><i class="icon-edit"></i><a class="pasteque" href="http://paste.henriet.eu">Pasteque</a></li>
  <li><i class="icon-picture"></i><a class="parano" href="http://parano.henriet.eu">Parano Cover Maker</a></li>
</ul>
<h3>Réseaux sociaux</h3>
<ul class="nav">
  <li><i class="icon-linkedin"></i><a class="linkedin" href="http://www.linkedin.com/in/henrieta">Linkedin</a></li>
  <li><i class="icon-twitter"></i><a class="twitter" href="https://twitter.com/#!/henrietalex">Twitter</a></li>
  <li><i class="icon-facebook"></i><a class="facebook" href="https://www.facebook.com/alex.henriet">Facebook</a></li>
</ul>
<h3>Dépôts de code</h3>
<ul class="nav">
  <li><i class="icon-github-alt"></i><a class="bitbucket" href="https://github.com/setsuna-">Github</a></li>
  <li><i class="icon-folder-open-alt"></i><a class="bitbucket" href="https://bitbucket.org/setsuna_">Bitbucket</a></li>
</ul>
