<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="description" content="Site web personnel et Curriculum Vitae de {{ AUTHOR }}">
    <meta name="keywords" content="{{ AUTHOR }} Curriculum Vitae Blog PHP Zend Certified Engineer ZCE"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/merged.min.css">
  </head>
  <body id="{% block mainid %}CV{% endblock %}">
    <div class="header-container">
      <header class="wrapper clearfix">
        <h1 class="title"><a href="/">{{ SITENAME }}</a></h1>
        {% block menu %}...{% endblock %}
      </header>
    </div>
    <div class="main-container">
      <div class="main wrapper clearfix">
        <article>
          {% block content %}{% endblock %}
        </article>
        <aside>
          {% block aside %}{% include "aside.html" %}{% endblock %}
        </aside>
      </div>
    </div>
    <div class="footer-container">
      <footer class="wrapper">
        <p><a id="toplink" href="#">Haut de la page</a> © <b>{{ AUTHOR }}, 2018</b>. Site généré avec <a href="http://docs.getpelican.com/"> Pelican</a>, icônes par <a href="http://glyphicons.com/">Glyphicons</a> et <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>.</p>
      </footer>
    </div>
    <script>document.addEventListener("DOMContentLoaded",function(){document.getElementById("toplink").onclick=function(t){t.preventDefault(),window.scroll({behavior:"smooth",left:0,top:0})}});</script>
  </body>
</html>
